@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 16px;
  line-height: 20px;
  background-image: linear-gradient(90deg, #4b6cb7 10%, #182848 90%);

  font-family: 'Roboto', 'Arial', 'sans-serif';
  color: #fff;
}

#app {
  min-height: 100%;
}

main {
  padding: 20px;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0 0 40px;
}

form {
  width: 50%;
  min-width: 200px;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.questions {
  margin: 0 0 30px;
}

.questions__item {
  margin: 0 0 15px;
}

.questions__item:last-child {
  margin: 0;
}

p {
  margin: 0 0 10px;
}

.answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.answers__label {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
}

.answers__label-text {
  position: relative;
  display: flex;
  align-items: center;
}

.answers__label-text:hover {
  cursor: pointer;
}

.answers__label-text::before {
  content: '';
  flex-shrink: 0;
  margin-right: 15px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #adb5bd;
}

.answers__radio:checked + .answers__label-text::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translate(0, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(64, 199, 129);
}

button {
  width: 50%;
  min-width: 200px;
  margin: 0 auto;
  display: block;
  background-color: rgb(64, 199, 129);
  border-radius: 10px;
  box-shadow: 0 -3px rgb(53, 167, 110) inset;
  padding: 10px;
  border: none;
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  font-weight: 700;
  color: #fff;
  transition: 0.2s;
}

button:hover {
  background: rgb(33, 147, 90);
  box-shadow: 0 3px rgb(33, 147, 90) inset;
}

.animate-spin {
  width: 50px;
  height: 50px;
  color: rgb(197, 197, 197);
  animation: rotate 800ms linear infinite;
}

.animate-spin circle {
  opacity: 0.25;
}

.animate-spin path {
  opacity: 0.65;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
